
<% if params[:controller] == 'about' %>
<div class="well">
  <h3>Location info</h3>
  <ul>
    <li>The bookstore</li>
    <li>Avenida Senador Salgado Filho</li>
    <li>Natal, Rio Grande do Norte - Brasil</li>
    <li>Phone: +55 84 9 9909 1856</li>
    <li>Email: andre.szlima1@gmail.com</li>
  </ul>
</div>
<% end %>


<% if params[:controller] == 'books' && params[:action] == 'index' || params[:action] == 'show' %>
<div class="list-group">
  <% @categories.each do |category| %>
    <%= link_to category.name, category_path(category.id), class:'list-group-item' %>
  <% end %>
</div>
<% end %>